{% extends 'base.html' %}

{% block content %}

<div class="container" style = "margin-top: 20px;;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <p style = "text-align:center;font-size:20px;" class="panel-title">{{ all_person.name }}</p>
                </div>
                <div class="panel-body">
                    <h2 style = "text-align:center">个人介绍</h2>
                    <p>{{ all_person.person }}</p>
                    <h2 style = "text-align:center">个人评价</h2>
                    <p>{{ all_person.content}}</p>

                    {% for achievement in achievements %}
                        <h2 style = "text-align:center;">经典战役:{{ achievement.title }}</h2>
                        <p>{{ achievement.content  }}</p>
                    {% endfor %}
                    
                                    
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock %}


